.signUpSection {
    height: calc(100vh - 87.13px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputFeedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
}

.formContainer {

}
