.w-100 {
    min-height: 300px ;
    max-height: 300px;
    width: 100%;
    box-shadow: 0 6px 20px rgb(56 125 255 / 17%);
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    
}

.carousel-item{
    padding: 10px;
    min-height: 500px ;
    max-height: 500px;
}

.carousel-caption
{
    padding: 10px;
    color: black;
}

.carousel-indicators [data-bs-target]{
    background-color: black;
}